body {
    height: 100%;
    width: 80%; 
    font-family: 'Raleway', sans-serif; 
    color: grey;
}

header {
    margin: 2.5%;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5%;
}

.cell {
    height: 15px;
    width: 15px;
    border: 1px solid #a6a6a6;
}


.palette {
   display: flex;
   flex-direction: row; 
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin: 10px;
}
.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: #0066cc;
}

#purple {
    background-color: purple;
}

#white {
    background-color: white;
}

#brown {
    background-color: #663300;
}

#black {
    background-color: black;
}

.border {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 4px;
}

.tempColor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;  
}