body {
    font-family: 'Raleway', sans-serif;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 80%;
    background-color: rgb(245, 247, 226);
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

header {
    margin: 2.5%;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5%;
}

.cell {
    height: 15px;
    width: 15px;
    border: 1px solid #a6a6a6;
}

.palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    margin: 10px;
}

.color,
.tempColor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

#red {
    background-color: red;
}

#pink {
    background-color: #E669BA;
}

#orange {
    background-color: orange;
}

#peach {
    background-color: #DF995B;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#lime {
    background-color: #69D55E;
}

#blue {
    background-color: blue;
}

#teal {
    background-color: #4ED8DA;
}

#periwinkle {
    background-color: #7065ED;
}

#purple {
    background-color: purple;
}

#brown {
    background-color: #663300;
}

#black {
    background-color: black;
}

#grey {
    background-color: grey;
}

#white {
    background-color: white;
}

#backgroundPlain {
    background-color: rgb(245, 247, 226);
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
}